<ion-view title="{{ lang.signup.title }}">
    <ion-content class="padding">
        <div class="list" style="">
            <form name="signupForm" novalidates="">
                <label class="item item-input item-stacked-label" ng-class="{
                    
                    'has-error' : signupForm.name.$invalid,
                    'valid'     : signupForm.name.$valid
                    }">
                    <span class="input-label">{{ lang.signup.form_label_name }}</span>
                    <input type="text" name="name" placeholder="{{ lang.signup.form_placeholder_name }}" ng-model="user.name"
                    required
                    min-length="5">
                </label>
                <div class="form-errors" ng-messages="signupForm.name.$error">
                    <div class="form-error" ng-message="required">{{ lang.signup.form_error_name_empty }}</div>
                    <div class="form-error" ng-message="min-length">{{ lang.signup.form_error_name_too_short }}</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    
                    'has-error' : signupForm.email.$invalid,
                    'valid'     : signupForm.email.$valid
                    }">
                    <span class="input-label">{{ lang.signup.form_label_email }}</span>
                    <input type="email" name="email" placeholder="{{ lang.signup.form_placeholder_email }}" ng-model="user.email"
                    required>
                </label>
                <div class="form-errors" ng-messages="signupForm.email.$error">
                    <div class="form-error" ng-message="required">{{ lang.signup.form_error_email_empty }}</div>
                    <div class="form-error" ng-message="email">{{ lang.signup.form_error_email_wrong_format }}</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    
                    'has-error' : signupForm.password.$invalid,
                    'valid'     : signupForm.password.$valid
                    }">
                    <span class="input-label">{{ lang.signup.form_label_pass }}</span>
                    <input type="password" name="password" placeholder="{{ lang.signup.form_placeholder_pass }}" ng-model="user.password"
                    required
                    ng-pattern="/^[a-zA-Z0-9]{1,16}$/"
                    min-length="5">
                </label>
                <div class="form-errors" ng-messages="signupForm.password.$error">
                    <div class="form-error" ng-message="required">{{ lang.signup.form_error_pass_empty }}</div>
                    <div class="form-error" ng-message="min-length">{{ lang.signup.form_error_pass_too_short }}</div>
                    <div class="form-error" ng-message="pattern">{{ lang.signup.form_error_pass_wrong_format }}</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    
                    'has-error' : signupForm.comfirm.$invalid,
                    'valid'     : signupForm.comfirm.$valid
                    }">
                    <span class="input-label">{{ lang.signup.form_label_pass_confirm }}</span>
                    <input type="password" name="comfirm" placeholder="{{ lang.signup.form_placeholder_pass_confirm }}" ng-model="user.comfirm"
                    ng-pattern="'' + user.password"> <!-- regular expression to match password -->
                </label>
                <div class="form-errors" ng-messages="signupForm.comfirm.$error">
                    <div class="form-error" ng-message="pattern">{{ lang.signup.form_error_pass_confirm_not_match }}</div>
                </div>
                <button class="button button-full button-dark" ng-click="signupForm.$valid && signup()">
                    {{ lang.signup.sign_up_btn_name }}
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
