<ion-side-menus style="background-color: #000">
    
    <ion-pane ion-side-menu-content edge-drag-threshold="25">
        <ion-nav-bar class="bar-stable" align-title="center" no-tap-scroll="true">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-chevron-left"></i>{{ lang.menu.back_btn_name }}
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    
    <ion-side-menu side="left" class="vicinity-left-menu">
    
       <div class="bar bar-header bar-assertive">
            <h1 class="title"> 
                {{ lang.menu.title }}
                <img class="title" style="height: 100%;" src="img/icon.png">
            </h1>
       </div>

        <ion-content class="has-header">
            
            <div ng-show="logoImage" class="list card" style="background: none; box-shadow: none">
                 <!-- <div style="margin: 0 auto;"> -->
                     <img style="display: block; margin: 0 auto; height: 25vw; border-radius: 50%;" ng-src="{{ logoImage }}">
                 <!-- </div> -->
            </div>

            <!-- <ion-list> -->
            <a nav-clear menu-close class="button icon-left ion-ios-navigate-outline button-clear button-assertive" href="#/app/browse">   {{ lang.menu.browse_btn_name }}</a>
            <hr class="munu-button-spiltter"/>
            <a nav-clear menu-close class="button icon-left ion-ios-search button-clear button-assertive" href="#/app/search">   {{ lang.menu.search_btn_name }}</a>
            <hr class="munu-button-spiltter"/>
            <a nav-clear menu-close class="button icon-left ion-ios-home-outline button-clear button-assertive" ng-href="{{ goToProfile }}">   {{ lang.menu.profile_btn_name }}</a>
            <hr class="munu-button-spiltter"/>
            <a nav-clear ng-href="{{ goToStore }}" menu-close class="button icon-left ion-ios-cart-outline button-clear button-assertive">   {{ lang.menu.store_btn_name }}</a>
            <hr class="munu-button-spiltter" ng-show="isLoggedin"/>
            <a ng-show="isLoggedin" menu-close class="button icon-left ion-ios-close-outline button-clear button-assertive" ng-click="logout()">   {{ lang.menu.signout_btn_name }}</a>
            <hr class="munu-button-spiltter" ng-show="!isLoggedin"/>
            <a nav-clear ng-show="!isLoggedin" menu-close class="button icon-left ion-ios-checkmark-outline button-clear button-assertive" href="#/login">   {{ lang.menu.signin_btn_name }}</a>

            <hr class="munu-button-spiltter"/>

        </ion-content>

        <ion-footer-bar class="bar-stable" >
            <a nav-clear  style="margin: 0 auto !important" class="button icon-left button-clear button-assertive" ng-click="goToSocialPage()">
                <span style="font-size: 200%; margin-right: 10px">
                    <i class="fa fa-twitter-square"></i>
                </span>
                <span style="font-size: 200%; margin-right: 10px">
                    <i class="fa fa-facebook-square"></i>
                </span>
                <span style="font-size: 200%">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>
