<ion-view title="Serach Setttings">
    <ion-content class="">
        <ul class="list">
            <li class="item item-divider">
                Location
            </li>
            <li class="item item-toggle">
                Search By Distance <span style="color: rgb(226, 125, 125); font-size: x-small"> < 5 km</span>
                <label class="toggle toggle-positive">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item range range-positive">
                0.5 km<input type="range" name="volume" min="0.5" max="100" value="5" disabled>100 km
            </li>

            <li class="item item-divider">
                Enables
            </li>
            <li class="item item-toggle">
                Serach Comments
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                Serach Promotions
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>

    </ion-content>
</ion-view>
