<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-search" ng-click="autoSuggest()">
        </button>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-if="!isBackButtonShown" ng-click="toggleLeft()"></button>
    </ion-nav-buttons> -->
    <ion-nav-title>
        {{ title }}
    </ion-nav-title>
    <ion-content style="padding: 0">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
            <ion-slide ng-repeat="deal in ads">
                <div class="deal-slide-box" ng-click="goToDeal(deal)">
                    <img class="cover" ng-src="{{ deal.cover.image_url }}" fallback-src="http://placehold.it/800x540?text={{ $index + 1}}" loading-src="http://placehold.it/800x540?text={{ $index + 1 }}" />
                    <div class="deal-slide-box-mask"></div>
                    <h4 class="deal-slide-box-title">{{ deal.title }}</h4>
                    <p class="deal-slide-box-dealer-name"><i class="fa fa-user"></i> {{ deal.customer.name }}</p>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div ng-repeat="row in rows" class="row category-deal-row">
            <div ng-repeat="deal in row" class="col category-deal-box" ng-click="goToDeal(deal)">
                <div ng-if="deal.id !== 'loadmore'" class="item category-deal-box-deal">
                    <h2 class="category-deal-box-title" style="white-space: normal">{{ deal.title }}</h2>
                    <p class="category-deal-box-dealer-name">{{ deal.customer.name }}</p>
                </div>
                <div ng-if="deal.id === 'loadmore'" class="item category-deal-box-deal">
                    <h2 class="category-deal-box-title" style="white-space: normal; font-size: 120%">{{ deal.title }} <i class="ion-ios-reload"></i></h2>
                </div>
                <!-- 
                <h4 class="category-deal-box-title">{{ deal.title }}</h4>
                <p class="category-deal-box-dealer-name">- {{ deal.customer.name }}</p>
 -->            </div>
        </div>
    </ion-content>
</ion-view>
