<ion-modal-view hide-nav-bar="true" style="background-color: rgba(255, 255, 255, 0.8);">
    <form ng-submit="autoSuggestScope.done(autoSuggestScope.query)">
    <ion-header-bar class="bar bar-header item-input-inset">
        <!-- <form> -->
        <button type="button" class="button button-icon icon ion-android-close" ng-click="autoSuggestScope.cancel()"></button>

        <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input id="auto-suggest-query" type="search" placeholder="Search" ng-model="autoSuggestScope.query">
            </label>
        <button type="submit" class="button button-clear button-assertive" ng-click="autoSuggestScope.done(autoSuggestScope.query)" ng-class="{
                'disabled': !autoSuggestScope.query || !autoSuggestScope.query.trim().length > 1
            }">
                Search
        </button>
    </ion-header-bar>
    </form>
    <ion-content>
        <ion-list>
          <ion-item style="background-color: rgba(255, 255, 255, 0.8);" ng-repeat="term in autoSuggestScope.terms" ng-click="autoSuggestScope.select(term.term)">
            <p>{{ term.term }}</p>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
