<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="makeReviewScope.cancel()">Cancel</button>
        <h1 class="title">Review</h1>
        <button class="button button-clear button-assertive" ng-show="makeReviewScope.saveable" ng-click="makeReviewScope.save(makeReviewScope.rating, makeReviewScope.comment)">Save</button>
    </ion-header-bar>
    <ion-content style="background: none">
        <ul class="list">
            <li class="item item-divider">
                {{ makeReviewScope.rating }} Stars
            </li>
            <li class="item range range-assertive">
                0
                <input type="range" name="volume" min="0" max="5" value="5" ng-model="makeReviewScope.rating"> 5
            </li>
            <li class="item item-divider">
                Comment
            </li>
            <li class="item item-input">
                <textarea placeholder="put your comment here" ng-model="makeReviewScope.comment"></textarea>
            </li>
        </ul>
        <div class="padding">
            <button ng-disabled="!makeReviewScope.saveable" class="button button-full button-dark" ng-click="makeReviewScope.save(makeReviewScope.rating, makeReviewScope.comment)">
                Save
            </button>
        </div>
    </ion-content>
</ion-modal-view>
