
<a class="item item-avatar" ng-href="#/app/promotions/{{ item.id }}" style="background-color: #dedede">
    <img ng-src="{{ item.catagory.icon.image_url }}" fallback-src="img/placeholder.png" loading-src="img/placeholder.png" style="border-radius: 0">
    <h3>{{ item.title }}</h3>
    <p style="white-space: normal">{{ item.description }}</p>
    <hr class="thin">
    <p><span style="color: white; background-color: #C57477">&nbsp;{{ item.rating.toFixed(1) }} <i class="icon ion-ios-star"></i>&nbsp;</span> - {{ item.rates }} Reviews</p>
    <!-- <p>posted by: <span style="color: #C57477">{{ item.customer.name }}</span></p> -->
    <p>catagory: <span style="color: #C57477">{{ item.catagory.name }}</span></p>
    <span class="item-note">
        {{ item.created_at  | date: 'MM/dd/yyyy' }}
    </span>
    <span style="color: white; background-color: #C57477; top:0; right:0; position: absolute">&nbsp;&nbsp;Latest Deal&nbsp;&nbsp;</span>
</a>