<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="editPromotionScope.cancel()">Cancel</button>
        <h1 class="title">{{ editPromotionScope.title }}</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <form name="dealForm" novalidates="">
                <label class="item item-input item-stacked-label" ng-class="{ 
                    'has-error' : dealForm.title.$invalid,
                    'valid'     : dealForm.title.$valid
                    }">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="deal title" ng-model="editPromotionScope.promotion.title" name="title" required ng-minlength="5" ng-maxlength="75">
                </label>
                <div class="form-errors" ng-messages="dealForm.title.$error">
                    <div class="form-error" ng-message="required">Titile cannot be blank</div>
                    <div class="form-error" ng-message="minlength">Title is too short</div>
                    <div class="form-error" ng-message="maxlength">Title is too long</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    'has-error' : dealForm.description.$invalid,
                    'valid'     : dealForm.description.$valid
                    }">
                    <span class="input-label">Descritpion</span>
                    <textarea name="description" placeholder="brief description" ng-model="editPromotionScope.promotion.description" autoexpand required ng-minlength="10" ng-maxlength="100"></textarea>
                    <!-- <input type="text" name="description" placeholder="brief description" ng-model="editPromotionScope.promotion.description" required ng-minlength="10" ng-maxlength="100"> -->
                </label>
                <div class="form-errors" ng-messages="dealForm.description.$error">
                    <div class="form-error" ng-message="required">Description cannot be blank</div>
                    <div class="form-error" ng-message="minlength">Description is too short</div>
                    <div class="form-error" ng-message="maxlength">Description is too long</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    'has-error' : dealForm.start_at.$invalid,
                    'valid'     : dealForm.start_at.$valid
                    }">
                    <span class="input-label">Start Date</span>
                    <input type="date" name="start_at" ng-model="editPromotionScope.promotion.start_at" placeholder="MMM dd, yyyy" required>
                </label>
                <div class="form-errors" ng-messages="dealForm.expire_at.$error">
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    'has-error' : dealForm.expire_at.$invalid,
                    'valid'     : dealForm.expire_at.$valid
                    }">
                    <span class="input-label">Expire Date</span>
                    <input type="date" name="expire_at" ng-model="editPromotionScope.promotion.expire_at" placeholder="MMM dd, yyyy" required>
                </label>
                <div class="form-errors" ng-messages="dealForm.expire_at.$error">
                </div>
                <div class="item item-button-right" ng-click="editPromotionScope.selectCatagory()">
                    {{ 'Catagory: ' + editPromotionScope.catagory }}
                    <button class="button button-clear button-assertive">
                        <i class="ion-ios-arrow-down"></i>
                    </button>
                </div>
                <div class="form-errors">
                </div>
                <button ng-disabled="!editPromotionScope.saveable" class="button button-full button-dark" ng-click="dealForm.$valid && editPromotionScope.save(editPromotionScope.promotion)">
                    Save
                </button>
            </form>
        </div>
    </ion-content>
</ion-modal-view>
