<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="businessHoursScope.cancel()">Cancel</button>
        <h1 class="title">Edit Operation Hours</h1>
        <button class="button button-clear button-assertive" ng-click="businessHoursScope.save(businessHoursScope.hours)">Save</button>
    </ion-header-bar>
    <ion-content class="">
        <ion-list>
            <ion-item class="item-button-right" ng-repeat="day in businessHoursScope.days" >
                <h2>{{ day }}</h2>
                <p>{{ businessHoursScope.hours[day] ? businessHoursScope.hours[day].from : '9:00' }} - {{ businessHoursScope.hours[day] ? businessHoursScope.hours[day].to : '17:00' }}</p>
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-checked="!!businessHoursScope.hours[day]" ng-click="businessHoursScope.buttonClick($event, day)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <button ng-disabled="!businessHoursScope.hours[day]" class="button button-assertive button-clear" ng-click="businessHoursScope.editHours(day)">
                  Edit
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
