<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="newPasswordScope.cancel()">Cancel</button>
        <h1 class="title">New Password</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <form name="passwordForm" novalidates="">
                <label class="item item-input item-stacked-label" ng-class="{ 
                    'has-error' : passwordForm.current.$invalid,
                    'valid'     : passwordForm.current.$valid
                    }">
                    <span class="input-label">Current Password</span>
                    <input type="password" placeholder="deal title" ng-model="newPasswordScope.current_password" name="current" required>
                </label>
                <div class="form-errors" ng-messages="passwordForm.current.$error">
                    <div class="form-error" ng-message="required">Old password cannot be blank</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    
                    'has-error' : passwordForm.password.$invalid,
                    'valid'     : passwordForm.password.$valid
                    }">
                    <span class="input-label">New Password</span>
                    <input type="password" name="password" placeholder="password" ng-model="newPasswordScope.new_password"
                    required
                    min-length="5"
                    ng-pattern="/^[a-zA-Z0-9]{1,16}$/">
                </label>
                <div class="form-errors" ng-messages="passwordForm.password.$error">
                    <div class="form-error" ng-message="required">New password cannot be blank</div>
                    <div class="form-error" ng-message="min-length">Password length must be longer than 4</div>
                    <div class="form-error" ng-message="pattern">Password contains invalid characters</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    
                    'has-error' : passwordForm.comfirm.$invalid,
                    'valid'     : passwordForm.comfirm.$valid
                    }">
                    <span class="input-label">Confirm</span>
                    <input type="password" name="comfirm" placeholder="password confirmation" ng-model="newPasswordScope.confirm"
                    ng-pattern="'' + newPasswordScope.new_password"> <!-- regular expression to match password -->
                </label>
                <div class="form-errors" ng-messages="passwordForm.comfirm.$error">
                    <div class="form-error" ng-message="pattern">Does not match</div>
                </div>
                <button class="button button-full button-dark" ng-click="passwordForm.$valid && newPasswordScope.save()">
                    Save
                </button>
            </form>
        </div>
    </ion-content>
</ion-modal-view>
