<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="simpleEditScope.cancel()">Cancel</button>
        <h1 class="title">{{ simpleEditScope.title }}</h1>
        <button class="button button-clear button-assertive" ng-show="simpleEditScope.saveable" ng-click="simpleEditScope.save(simpleEditScope.value)">Save</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <textarea style="width: 100%" placeholder="{{ simpleEditScope.placeholder }}" ng-model="simpleEditScope.value" autoexpand ng-change="simpleEditScope.onchange();"></textarea>
            <button ng-disabled="!simpleEditScope.saveable" class="button button-full button-dark" ng-click="simpleEditScope.save(simpleEditScope.value);">Save</button>
        </div>
    </ion-content>
</ion-modal-view>
