<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Vicinity <span style="color: blue"><%= @user.name  %></span></h3>  
    </body>
</html>