<ion-modal-view>
    <ion-header-bar>
        <button class="button button-clear button-assertive" ng-click="simpleListEditScope.cancel()">Cancel</button>
        <h1 class="title">{{ simpleListEditScope.title }}</h1>
        <button class="button button-clear button-assertive" ng-click="simpleListEditScope.addItem()">Add</button>
    </ion-header-bar>
    <ion-content class="">
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="item in simpleListEditScope.list">
                {{ item.name }}
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="simpleListEditScope.deleteItem(item.value)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>