<ion-view title="{{ lang.login.title }}"  hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-assertive" ng-click="cancel();">{{ lang.login.cancel_btn_name }}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear button-assertive" href="#/signup">{{ lang.login.register_btn_name }}</a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <form name="loginForm" novalidates="">
                <label class="item item-input item-stacked-label" ng-class="{ 
                    'has-error' : loginForm.email.$invalid,
                    'valid'     : loginForm.email.$valid
                    }">
                    <span class="input-label">{{ lang.login.form_label_email }}</span>
                    <input type="email" ng-change="onEmailChange()" placeholder="email@youremail.com" ng-model="credentials.email" name="email" required>
                </label>
                <div class="form-errors" ng-messages="loginForm.email.$error">
                    <div class="form-error" ng-message="required">{{ lang.login.form_error_email_empty }}</div>
                    <div class="form-error" ng-message="email">{{ lang.login.form_error_email_wrong_format }}</div>
                </div>
                <label class="item item-input item-stacked-label" ng-class="{
                    'has-error' : loginForm.password.$invalid,
                    'valid'     : loginForm.password.$valid
                    }">
                    <span class="input-label">{{ lang.login.form_label_pass }}</span>
                    <input type="password" name="password" placeholder="password" ng-model="credentials.password" required min-length="4">
                </label>
                <div class="form-errors" ng-messages="loginForm.password.$error">
                    <div class="form-error" ng-message="required">{{ lang.login.form_error_pass_empty }}</div>
                    <div class="form-error" ng-message="min-length">{{ lang.login.form_error_pass_too_short }}</div>
                </div>

                <ion-toggle style="border: none !important" ng-model="save" toggle-class="toggle-assertive">{{ lang.login.save }}</ion-toggle>

                <button class="button button-full button-dark" ng-click="loginForm.$valid && login()">
                    {{ lang.login.signin_btn_name }}
                </button>
                <a class="button button-full button-clear button-assertive" ng-click="reset()">
                    {{ lang.login.forgot_password }}
                </a>
            </form>
        </div>
    </ion-content>
</ion-view>
