 <div class="card" style="margin: 2vw 2vw">
    <a class="item item-avatar" ng-href="#/app/promotions/{{ item.id }}">
        <img ng-src="{{ item.catagory.icon.image_url }}" fallback-src="img/placeholder.png" loading-src="img/placeholder.png" style="border-radius: 0">
        <h2 style="white-space: normal">{{ item.title }}</h2>
        <p style="white-space: normal">{{ item.description }}</p>
        
        <hr class="thin">
        
        <span ng-if="item.distance" class="item-note" style="color: #C57477">{{ item.distance.toFixed(1) + ' km'}}</span>
        <p><span style="color: white; background-color: #C57477">&nbsp;{{ item.rating.toFixed(1) }} <i class="icon ion-ios-star"></i>&nbsp;</span> - {{ item.rates }} Reviews</p>
        <p><span style="color: #C57477"><i class="fa fa-user"></i> {{ item.customer.name }}</span></p>
        <p><span style="color: #C57477"><i class="fa fa-tag"></i> {{ item.catagory.name }}</span></p>

        <span ng-if="item.subscripted" style="font-size: 60%; background: none; color: #C57477; top:0; right:0; position: absolute">&nbsp;&nbsp;Ads&nbsp;&nbsp;</span>
    </a>
</div>