<ion-view title="Reviews">
    <ion-nav-buttons side="right">
       
    </ion-nav-buttons>
    <ion-content style="background-color: #fff">
        <div ng-if="!comments.length" class="item item-image" style="margin: 2vw 2vw; border: none">
            <img src="http://placehold.it/500x120/ffffff/dedede?text=no reviews" />
        </div>
        <ion-list ng-if="comments.length">
            <a ng-repeat="comment in comments" class="item item-avatar" href="#">
                <img ng-src="{{ comment.reviewer.id ? comment.reviewer.logo.thumb_url : 'false' }}" fallback-src="{{ formatters.profile_pic_holder(comment.reviewer.id ? comment.reviewer.name : 'Anonymous user') }}" loading-src="{{ formatters.profile_pic_holder(comment.reviewer.id ? comment.reviewer.name : 'Anonymous user') }}">
               
                <span class="item-note" style="font-size: 80%">
                  {{ comment.created_at | date: 'MM/dd/yyyy' }}
                </span>

                <h4>{{ comment.reviewer.id ? comment.reviewer.name : 'Anonymous user' }}</h4>

                <p style="white-space: normal">{{ comment.body }}</p>
            </a>
        </ion-list>
        <ion-infinite-scroll ng-if="!hideInfiniteScroll" on-infinite="loadNext()" distance="1%" icon="ion-loading-c">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
