<ion-view title="Edit Profile">
    <ion-nav-buttons side="right" ng-show="save">
        <a class="button button-clear button-assertive" ng-href="" ng-click="update()">
            Save
        </a>
    </ion-nav-buttons>
    <ion-content class="">
        <div class="list card">
            <div class="item item-toggle">
                Business User
                <label class="toggle toggle-assertive">
                    <input type="checkbox" checked ng-model="customer.isCustomer" >
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <a class="item item-avatar" href="#" ng-click="getPicture();">
                <img ng-src="{{ imageUrl }}" style="border-radius: none; object-fit: cover;" fallback-src="img/profileholder.png" loading-src="img/profileholder.png">
                <h2>Edit Profile Photo</h2>
                <p>{{ customer.name }}</p>
            </a>
        </div>

        <div class="list card">

            <a ng-click="editValue(options.name(customer.name))" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-home-outline"></i>
                <h2>Edit Title</h2>
                <p>{{ customer.name }}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

           <a ng-click="editValue(options.address(customer.address))" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-location-outline"></i>
                <h2>Edit Address</h2>
                <p>{{ customer.address || 'not provided' }}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a href="#/app/" ng-click="editValue(options.phone(customer.phone)); $event.preventDefault()" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-telephone-outline"></i>
                <h2>Edit Phone</h2>
                <p>{{ customer.phone || 'not provided'}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            
            <!-- Email could not be edited -->
            <!-- <a ng-click="" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-email-outline"></i>
                <h2>Edit Email</h2>
                <p>{{ customer.email }}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a> -->

            <a ng-show="customer.isCustomer" ng-click="editKeywords()" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-grid-view-outline"></i>
                <h2>Edit Keywords</h2>
                <p>{{ tags() }}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a ng-show="customer.isCustomer" ng-click="editValue(options.description(customer.description))" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-information-outline"></i>
                <h2>Edit Description</h2>
                <p style="white-space: normal">{{ customer.description || 'not provided' }}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a ng-show="customer.isCustomer" ng-click="editHours()" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-clock-outline"></i>
                <h2>Edit Operation Hours</h2>
                <p ng-repeat="key in hours">
                    {{ key }}: {{ customer.hours[key].from }} - {{ customer.hours[key].to }}
                </p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

        </div>
        
        <!-- background image -->
        <!-- <div class="list card">
            <div class="item">
                Background
            </div>
            <div class="item item-image">
                <img src="http://placehold.it/600x300?text=Add Backround">
            </div>
        </div> -->

    </ion-content>
</ion-view>
