<ion-view title="Search" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header item-input-inset">
        <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input readonly ng-click="autoSuggest();false" type="search" placeholder="{{ query_term || 'e.g. Vicinity Deals' }}">
        </label>
        <button class="button button-clear button-assertive" ng-click="search(query_term)" ng-class="{
                'disabled': !query_term || !query_term.trim().length > 1
            }">
                {{ lang.search.search_btn_name }}
        </button>
    </ion-header-bar>
    <div class="tabs-striped tabs-color-assertive">
        <ion-tabs>
            <ion-tab title="{{ lang.search.tab_title_business }}" on-select="onTabSelect(0)">
                <ion-view>
                    <ion-content class="has-header" style="background-color: #fff">
                        <ion-list ng-if="!isEmpty(0)">
                            <!-- paid results -->
                            <gampcard ng-if="results[0].ads && results[0].ads.length > 0" mycard ng-repeat="item in results[0].ads" ng-model="item.result" templateUrl="{{ item.class=='User' ? 'user.html' : 'promotion.html' }}"></gampcard>
                            <!-- regular results -->
                            <gampcard ng-if="results[0].normal && results[0].normal.length > 0" mycard ng-repeat="item in results[0].normal" ng-model="item.result" templateUrl="{{ item.class=='User' ? 'user.html' : 'promotion.html' }}"></gampcard>
                        </ion-list>

                        <ion-list ng-if="isEmpty(0)">
                            <div class="item item-image" style="margin: 2vw 2vw; border: none">
                                <img ng-src="http://placehold.it/500x100/ffffff/dedede?text={{ lang.search.no_result_text_dealers }}" />
                            </div>
                            <li ng-if="isEmpty(0)" class="item item-divider">
                                {{ lang.search.suggested_dealers }}
                            </li>
                            <!-- regular results -->
                            <gampcard ng-if="isEmpty(0)" mycard ng-repeat="item in suggested_dealers" ng-model="item" templateUrl="{{ 'user.html' }}"></gampcard>
                        </ion-list>

                        <ion-infinite-scroll ng-if="!isEmpty(0)" on-infinite="loadNext(0)" distance="1%" icon="ion-loading-c">
                        </ion-infinite-scroll>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="{{ lang.search.tab_title_deals }}" on-select="onTabSelect(1)">
                <ion-view>
                    <ion-content class="has-header" style="background-color: #fff">

                        <ion-list ng-if="!isEmpty(1)">
                            <!-- paid results -->
                            <gampcard ng-if="results[1].ads && results[1].ads.length > 0" mycard ng-repeat="item in results[1].ads" ng-model="item.result" templateUrl="{{ item.class=='User' ? 'user.html' : 'promotion.html' }}"></gampcard>
                            <!-- regular results -->
                            <gampcard ng-if="results[1].normal && results[1].normal.length > 0" mycard ng-repeat="item in results[1].normal" ng-model="item.result" templateUrl="{{ item.class=='User' ? 'user.html' : 'promotion.html' }}"></gampcard>
                        </ion-list>

                        <ion-list ng-if="isEmpty(1)">

                            <div class="item item-image" style="margin: 2vw 2vw; border: none">
                                <img ng-src="http://placehold.it/500x100/ffffff/dedede?text={{ lang.search.no_result_text_deals }}" />
                            </div>
                            <li ng-if="isEmpty(1)" class="item item-divider">
                                {{ lang.search.suggested_deals }}
                            </li>
                            <!-- regular results -->
                            <gampcard ng-if="isEmpty(1)" mycard ng-repeat="item in suggested_promotions" ng-model="item" templateUrl="{{ 'promotion.html' }}"></gampcard>
                        </ion-list>

                        <ion-infinite-scroll on-infinite="loadNext(1)" distance="1%" icon="ion-loading-c">
                        </ion-infinite-scroll>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="{{ lang.search.tab_title_all }}" on-select="onTabSelect(2)">
                <ion-view>
                    <ion-content class="has-header" style="background-color: #fff">

                        <ion-list ng-if="!isEmpty(2)">
                            <!-- paid results -->
                            <gampcard ng-if="results[2].ads && results[2].ads.length > 0" mycard ng-repeat="item in results[2].ads" ng-model="item.result" templateUrl="{{ item.class=='User' ? 'user.html' : 'promotion.html' }}"></gampcard>
                            <!-- regular results -->
                            <gampcard ng-if="results[2].normal && results[2].normal.length > 0" mycard ng-repeat="item in results[2].normal" ng-model="item.result" templateUrl="{{ item.class=='User' ? 'user.html' : 'promotion.html' }}"></gampcard>
                        </ion-list>

                         <ion-list ng-if="isEmpty(2)">

                            <div class="item item-image" style="margin: 2vw 2vw; border: none">
                                <img ng-src="http://placehold.it/500x100/ffffff/dedede?text={{ lang.search.no_result_text_all }}" />
                            </div>
                            
                            <li ng-if="isEmpty(2) " class="item item-divider">
                                {{ lang.search.suggested_dealers }}
                            </li>
                            <!-- regular results -->
                            <gampcard ng-if="isEmpty(2) " mycard ng-repeat="item in suggested_dealers" ng-model="item" templateUrl="{{ 'user.html' }}"></gampcard>

                            <li ng-if="isEmpty(2)" class="item item-divider">
                                {{ lang.search.suggested_deals }}
                            </li>
                            <!-- regular results -->
                            <gampcard ng-if="isEmpty(2)" mycard ng-repeat="item in suggested_promotions" ng-model="item" templateUrl="{{ 'promotion.html' }}"></gampcard>
                        </ion-list>

                        <ion-infinite-scroll on-infinite="loadNext(2)" distance="1%" icon="ion-loading-c">
                        </ion-infinite-scroll>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="{{ lang.search.tab_title_options }}" on-select="onTabSelect(3)" class="button-postive" ng-controller="SearchSetttingsCtrl">
                <ul class="list">
                    <li class="item item-divider">
                        {{ settingslang.search.options_location }}
                    </li>
                    <li class="item item-toggle">
                        {{ settingslang.search.options_location_toggle_name }} <span style="color: rgb(226, 125, 125); font-size: x-small"> within {{ settings.distance }} kms</span>
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" checked ng-model="settings.enable" ng-change="update()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item range range-assertive">
                        0.5 km
                        <input ng-if="settings.enable" type="range" name="volume" min="0.5" max="200" ng-model="settings.distance" ng-change="update()">
                        <input ng-if="!settings.enable" type="range" name="volume" min="0.5" max="200" ng-model="settings.distance" ng-change="update()" disabled> 200 km
                    </li>
                </ul>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </div>
</ion-view>
