<ion-view title="Account">
    <ion-content class="">
        <ul class="list">
            <li class="item item-divider">
                Location
            </li>
            <li class="item item-toggle">
                Search By Distance <span style="color: rgb(226, 125, 125); font-size: x-small"> < 5 km</span>
                <label class="toggle toggle-positive">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <!-- <li class="item item-divider">
                Features
            </li>
            <li class="item item-toggle">
                Push Ads
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li> -->
        </ul>

    </ion-content>
</ion-view>
