<ion-view title="Login As" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-assertive" href="#/login">Login</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-clear button-assertive" href="#/app/search">Cancel</a>
    </ion-nav-buttons>
    <ion-content class="">

        <div class="list card">
            <!-- <a ng-click="editValue(options.name(customer.name))" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-home-outline"></i>
                <h2>Edit Title</h2>
                <p>{{ customer.name }}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a> -->
            <a ng-repeat="user in users" class="item item-avatar item-icon-right" ng-click="loginAs(user)">
                <img ng-src="{{ user.logo.thumb_url ? user.logo.thumb_url : 'false' }}" fallback-src="img/profileholder.png" loading-src="img/profileholder.png">
                <h2>{{ user.name }}</h2>
                <p>click to login</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
