<ion-view title="Membership" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-color-assertive">
        <ion-tabs>
            <ion-tab title="My Membership" on-select="">
                <ion-view>
                    <ion-content class="has-header" style="background-color: #fff">
                        <ion-list>
                            <div ng-if="!subscriptions[0]" class="item item-image" style="margin: 2vw 2vw; border: none">
                                <img src="http://placehold.it/500x120/ffffff/dedede?text=no membership" />
                            </div>
                            <gampcard ng-if="subscriptions[0]" ng-repeat="subscription in subscriptions" mycard ng-model="subscription" templateUrl="{{ 'subscription.html' }}"></gampcard>
                        </ion-list>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Shopping" on-select="">
                <ion-view>
                    <ion-content class="has-header" style="background-color: #fff">
                        <div class="list card">
                            <a href="#" class="item item-icon-right" ng-repeat="item in products" ng-click="makeRequest(item.id)" >
                                <h2>{{ item.name }}</h2>
                                <p>click to subscribe</p>
                                <i class="icon ion-ios-arrow-right"></i>
                            </a>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </div>
</ion-view>
