<ion-view title="{{ lang.promotions.title }}">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-navicon" ng-click="openFilter()"></button>
        <button class="button button-icon icon ion-more" ng-click="showMoreMenu()">
        </button>
        <!--  <a ng-if="editiable" class="button button-clear button-assertive" ng-click="new()">
            New
        </a> -->
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader" style="padding: 0 0">
        <a class="item item-avatar" ng-href="#/app/users/{{ customer.id }}" style="margin: 0 0">
            <img ng-src="{{ customer.logo.thumb_url }}" fallback-src="img/profileholder.png" loading-src="img/profileholder.png">
            <h2>{{ customer.name }}</h2>
            <p ng-if="!customer.distance">{{ customer.address }}</p>
            <p ng-if="customer.distance"><span style="color: #C57477">{{ lang.promotions.customer_distance_formatter(customer.distance) }}</span></p>
        </a>   
    </ion-header-bar>
    <ion-content class="has-subheader" style="background-color: #fff">
        <ion-refresher pulling-text="pull to reload" disable-pulling-rotation="false" pulling-icon="ion-ios-reload" on-refresh="refresh()" refreshing-icon="ion-ios-reload">
        </ion-refresher>
        <ion-list>
            <div class="card" style="opacity: 0">
            </div>
            <div class="card" ng-repeat="promotion in promotions" style="margin: 2vw 2vw">
                <gampcard mycard ng-model="promotion" templateUrl="{{ 'promotion3.html' }}"></gampcard>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!hideInfiniteScroll" on-infinite="loadNext()" distance="1%" icon="ion-loading-c">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
