<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>new password</h3>
    <p>
      Hi, <%= @user.name %>
    </p>
    <p>
    <div>email: <%= @user.email %></div>
    <div>password: <%= @password %></div>
    </p>
</body>
</html>