<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
a:link, span.MsoHyperlink
	{color:#0563C1;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:36.0pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:36.0pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.Default, li.Default, div.Default
	{mso-style-name:Default;
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Calibri",sans-serif;
	color:black;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=EN-CA link="#0563C1" vlink="#954F72">

<div class=WordSection1>

<p class=MsoNormal><b>WELCOME!</b></p>

<p class=MsoNormal>We would like to thank you for joining Vicinity Deals. Our
goal is to bring you amazing deals from your local neighbourhood to your fingertips
and the <b>BEST</b> part of it all is we are <b>100% FREE</b>. If you know a
Business looking to promote their deals, feel free to let us know and our sales
team will get in contact with them. Our team is working day and night to bring
you <b>AWESOME DEALS</b> and always looking for ways to improve our Vicinity
Deal App. If you have any questions, comments or suggestions please feel free
to contact us at <a href="mailto:info@vicinity.deals">info@vicinity.deals</a> </p>

<p class=MsoNormal>If you are a business or a customer and are having trouble
with navigating through the App, please feel free to contact us and we will
gladly walk you through it.  <br>
<br>
</p>

<p class=MsoNormal>What to look for in the future?</p>

<p class=MsoNormal>We are working very hard to update and improve our Vicinity
Deals App performance every day. Our goals is to have over <b>100 Amazing Deals</b>
by the end of September, 2015 and <b>over 1000 Amazing Deals</b> by End of
2015. We will shortly be releasing our website <a
href="Http://www.vicinity.deals">Http://www.vicinity.deals</a> , where you will
be able to find tutorial videos for Business users and Customers. We will be
highlighting the following and more:</p>

<p class=MsoNormal><b>Business User Video will include:</b></p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>How to Add a Business</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>How to Add a Deal</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>How to get obtain access to Promote your Deals &amp; Business within the
App (Premium User)</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>If you have an Exclusive Deals for Vicinity Deals Customers and how you
can send a notification to their mobile phones. (We will only allow 2-3 Deals Notifications
in TOTAL for the week and we will choose the most <b>AWESOME DEALS</b>. Why
only 2-3? We believe in not spamming our customers and we want create a good
experience for everyone.)</p>

<p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Many more awesome functions for Business Owners to look for on Vicinity
Deals Version 2.0</p>

<p class=MsoNormal><b>Customer User Video will include:</b></p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>How to find Deals?</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>How to find local businesses?</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>How to Report promotion as false advertising on Vicinity Deals App.
(They will be warned and removed in the future.) </p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>How to review the Business and their Deals? (Reviews help everyone and other
customer’s review will help you choose your deals next time. So please
contribute and write a review) </p>

<p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>All other cool functions for Customers to look for on Vicinity Deals
Version 2.0</p>

<p class=MsoNormal>Please share the word and tell a friend. Thank you for
downloading Vicinity Deals. </p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
