<ion-view title="Deal">
    <ion-nav-buttons side="right">
        <!-- <a ng-if="editiable" class="button button-clear button-assertive" ng-click="edit()">
            Edit
        </a> -->
        <a ng-if="!editiable" class="button button-clear ion-ios-chatboxes-outline button-assertive" ng-href="#/app/comments?promotion_id={{ promotion.id }}"> {{ promotion.comments.count < 1000 ? promotion.comments.count : '999+' }} </a>
        <button ng-if="editiable" class="button button-icon ion-more" ng-click="showMoreMenu()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-if="!isBackButtonShown" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content class="">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{ promotion.catagory.icon.image_url }}" fallback-src="img/placeholder.png" loading-src="img/placeholder.png" style="border-radius: 0">
                <h2 style="white-space: normal">{{ promotion.title }}</h2>
                <p style="white-space: normal">{{ promotion.description }}</p>
                <hr class="thin">
                <span ng-if="promotion.distance" class="item-note" style="color: #C57477">{{ promotion.distance.toFixed(1) + ' km'}}</span>
                <p><span style="color: white; background-color: #C57477">&nbsp;{{ promotion.rating.toFixed(1) }} <i class="icon ion-ios-star"></i>&nbsp;</span> - {{ promotion.rates }} Reviews</p>
                
                <!-- <p><span style="color: #C57477"><i class="fa fa-user"></i> {{ customer.name }}</span></p> -->
                <p><span style="color: #C57477"><i class="fa fa-tag"></i> {{ promotion.catagory.name }}</span></p>
                
                <hr ng-if="editiable" class="thin">
                <p ng-if="editiable">expire at: <span style="color: #C57477">{{ promotion.expire_at | date: 'MM/dd/yyyy' }}</span></p>
                <p ng-if="editiable">status: <span style="color: #C57477">{{ promotion.status }}</span></p>
                
                <span class="item-note">
                    {{ promotion.created_at  | date: 'MM/dd/yyyy' }}
                </span>
                <!-- <span style="color: white; background-color: #C57477; top:0; right:0; position: absolute">&nbsp;&nbsp;{{ promotion.created_at | date: 'MM/dd/yyyy' }}&nbsp;&nbsp;</span> -->
            </div>
            <div class="item item-image" ng-click="navigate()">
                <img ng-src="{{ mapurl }}" fallback-src="img/mapholder.gif" loading-src="img/mapholder.gif" />
            </div>
            <a ng-href="#" class="item item-icon-left" ng-click="navigate()">
                <i class="icon ion-ios-location-outline"></i>
                <p style="white-space: normal">{{ promotion.customer.address }}</p>
            </a>
            <a ng-href="#/app/users/{{ customer.id }}" class="item item-icon-left">
                <i class="icon ion-ios-person-outline"></i>
                <p style="white-space: normal">{{ customer.name }}</p>
            </a>
            <a ng-href="tel:{{ promotion.customer.phone }}" class="item item-icon-left">
                <i class="icon ion-ios-telephone-outline"></i>
                <p>Call {{ promotion.customer.phone }}</p>
            </a>
            <!-- <a ng-href="#" class="item item-icon-left" ng-click="">
                <i class="icon ion-ios-pricetag-outline"></i>
                <p style="white-space: normal">{{ promotion.catagory.name }}</p>
            </a> -->
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="review()">
                    <i class="icon ion-ios-chatbubble"></i> Review
                </a>
                <a class="tab-item" ng-click="share()">
                    <i class="icon ion-share"></i> Share
                </a>
                <a class="tab-item" ng-click="report()">
                    <i class="icon ion-ios-flag"></i> Report
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
